<MarginGaugeContainer as |container|>
  <MarginGaugeNeedle
    @radius={{container.radius}}
    @angle={{this.angle}}
  />
</MarginGaugeContainer>

<section>
  <label>
    Color<br>
    <input
      type="text"
      value={{this.color}}
      oninput={{action (mut this.color) value="target.value"}}
    >
  </label>
  <br>
  <label>
    Angle {{this.angle}}<br>
    <input
      type="range"
      value={{this.angle}}
      min="-90"
      max="90"
      step="1"
      oninput={{action (mut this.angle) value="target.value"}}
    >
  </label>
  <br>
  <br>
  <br>
  <br>
  <button
    onmousedown={{action (mut this.angle) -20}}
    onmouseup={{action (mut this.angle) 10}}
  >
    Click
  </button>
</section>
