<MarginGaugeContainer @padding=50 @width=500 as |container|>
  <Arc
    @ro={{container.radius}}
    @ri={{container.innerRadius}}
    @start=-90
    @end=90
    fill="none"
    stroke="black"
  />

  <AnimateValue
    @value={{this.angle}}
    @use={{this.animator}}
  as |angle|>
    <MarginGaugeNeedle
      fill={{this.currentColor}}
      @radius={{add container.radius 15}}
      @angle={{angle}}
    />
  </AnimateValue>
</MarginGaugeContainer>

<section>
  <label>
    Angle
    <br>
    <input
      type="range"
      value={{this.angle}}
      min="-90"
      max="90"
      step="10"
      oninput={{action "updateAngle" value="target.value"}}
    >
  </label>
</section>
