<MarginGaugeContainer @padding=50 @width=500 as |container|>
  <MarginGaugeError
    @ro={{container.radius}}
    @ri={{mult container.radius 0.6}}
    @start=-90
    @end=90
    @angle={{this.angle}}
    @errorRanges={{this.errorRanges}}
    @negativeColor={{this.negativeColor}}
    @positiveColor={{this.positiveColor}}
  />
</MarginGaugeContainer>

<section>
  <label>
    Error Ranges
    <input
      type="text"
      value={{this.errorRanges}}
      oninput={{action "updateRanges" value="target.value"}}
    >
  </label>
  <br>
  <label>
    Angle {{this.angle}}
    <br>
    <input
      type="range"
      value={{this.angle}}
      min="-90"
      max="90"
      step="1"
      oninput={{action "updateAngle" value="target.value"}}
    >
  </label>
</section>
